
html, body {
	height: 100%;
	font-family: "Quicksand", sans-serif;
	}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Quicksand", sans-serif;
}
h1 {
	font-size: 70px;
}
h2 {
	font-size: 36px;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	font-size: 16px;
	font-family: "Quicksand", sans-serif;
	color: #6b6b6b;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}
img {
	max-width: 100%;
}
input:focus, select:focus, button:focus, textarea:focus {
	outline: none;
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}
ul, ol {
	padding: 0;
	margin: 0;
}

.section-title {
	text-align: center;
	margin-bottom: 22px;
}
.section-title span {
	font-size: 14px;
	color: #123c69;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.section-title h2 {
	font-size: 44px;
	color: #edc7b7;
	line-height: 58px;
	margin-top: 10px;
}
.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}
.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}
.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}
.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6, .text-white p, .text-white span, .text-white li, .text-white a {
	color: #fff;
}


.btn-btn {
	background-color: #edc7b7; 
	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight: bold;
}
.line-btn:after {
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 100%;
	height: 2px;
	background: #123c69;
	content: "";
}


#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #ffffff;
}
.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}
@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}
.spacial-controls {
	position: fixed;
	width: 111px;
	height: 91px;
	top: 0;
	right: 0;
	z-index: 999;
}
.spacial-controls .search-switch {
	display: block;
	height: 100%;
	padding-top: 30px;
	background: #323232;
	text-align: center;
	cursor: pointer;
}

/*---------------------
  Header
-----------------------*/

.header-section.header-normal .menu-item {
	-webkit-box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
	box-shadow: 0px 12px 15px rgba(36, 11, 12, 0.05);
}
.menu-item {
	position: relative;
	z-index: 9;
}
.menu-item .logo {
	padding: 25px 0;
}
.menu-item .logo a {
	display: inline-block;
}
.menu-item .nav-menu {
	text-align: right;
}
.menu-item .nav-menu .mainmenu {
	display: inline-block;
}
.menu-item .nav-menu .mainmenu li {
	list-style: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.menu-item .nav-menu .mainmenu li.active a:after {
	opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover>a:after {
	opacity: 1;
}
.menu-item .nav-menu .mainmenu li:hover .dropdown {
	top: 77px;
	opacity: 1;
	visibility: visible;
}
.menu-item .nav-menu .mainmenu li a {
	font-size: 16px;
	color: #19191a;
	margin-right: 42px;
	font-weight: 500;
	display: inline-block;
	padding: 27px 0;
	position: relative;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li a:after {
	position: absolute;
	left: 0;
	top: 52px;
	width: 100%;
	height: 2px;
	background: #123c69;
	content: "";
	opacity: 0;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown {
	position: absolute;
	left: 0;
	top: 97px;
	width: 180px;
	background: #ffffff;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
	box-shadow: 0px 9px 15px rgba(25, 25, 26, 0.05);
}
.menu-item .nav-menu .mainmenu li .dropdown li {
	list-style: none;
	display: block;
}
.menu-item .nav-menu .mainmenu li .dropdown li a {
	font-size: 16px;
	color: #19191a;
	display: block;
	text-align: left;
	padding: 8px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:hover {
	color: #123c69;
}
.menu-item .nav-menu .mainmenu li .dropdown li a:after {
	display: none;
}
.menu-item .nav-menu .nav-right {
	display: inline-block;
	margin-left: 43px;
	padding: 27px 0px;
}
.menu-item .nav-menu .nav-right i {
	font-size: 16px;
	color: #19191a;
	cursor: pointer;
}
.canvas-open {
	display: none;
}
.offcanvas-menu-wrapper {
	display: none;
}
/*---------------------
  Hero
-----------------------*/

.hero-section {
	position: relative;
	padding-top: 60px;
	padding-bottom: 100px;
}
.hero-section .container {
	position: relative;
	z-index: 5;
}
.hero-text {
	padding-top: 145px;
}
.hero-text h1 {
	font-size: 80px;
	line-height: 90px;
	color: #eee2dc;
	margin-bottom: 16px;
}
.hero-text p {
	font-size: 18px;
	color: #ffffff;
	line-height: 28px;
	margin-bottom: 35px;
}
.hero-btn {
	background-color: #edc7b7; 
	border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight: bold;
}
.hero-slider {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.hero-slider.owl-carousel .owl-dots {
	position: absolute;
	left: 0;
	bottom: 23px;
	width: 100%;
	text-align: center;
}
.hero-slider.owl-carousel .owl-dots button {
	height: 6px;
	width: 6px;
	background: #ffffff;
	opacity: 0.5;
	border-radius: 50%;
	margin-right: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.hero-slider.owl-carousel .owl-dots button.active {
	width: 30px;
	border-radius: 50px;
	opacity: 1;
}
.hero-slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}
.hero-slider .owl-stage-outer, .hero-slider .owl-stage, .hero-slider .owl-item, .hero-slider .hs-item {
	height: 100%;
}
/*---------------------
  About US
-----------------------*/

.about-text {
	text-align: left;
	padding: 0 35px;
}
.about-text p {
	color: #595960;
	font-weight: 500;
}
.about-text p.f-para {
	margin-bottom: 10px;
}
.about-text p.s-para {
	margin-bottom: 35px;
}
.about-text .about-btn {
	color: #19191a;
}
.about-pic img {
	min-width: 100%;
}
.about-body {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
.about-text h2 {
		text-align: center;
		padding: 0 35px;
		color: #edc7b7;
	}
	
/*---------------------
  Member Section
-----------------------*/

.member-section {
	padding-bottom: 60px;
	border-top: 1px solid #e5e5e5;
}
.member-section .section-title {
	margin-bottom: 36px;
}
.member-item {
	text-align: center;
	padding: 30px 35px 18px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.member-item:hover {
	background: #edc7b7;
}
.member-item:hover i {
	color: #ffffff;
}
.member-item:hover h4 {
	color: #ffffff;
}
.member-item:hover p {
	color: #ffffff;
}
.member-item i {
	display: inline-block;
	color: #123c69;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.member-item h4 {
	color: #123c69;
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 10px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.member-item p {
	color: #707079;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.member-btn {
background-color: #123c69; 
	border: none;
  color: #edc7b7;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  border-radius: 12px;
  text-transform: uppercase;
  letter-spacing:2px;
  font-weight: bold;  
}

/*---------------------
  Testimonial Slider
-----------------------*/

.testimonial-section {
	background: #eee2dc;
}
.testimonial-section .section-title {
	margin-bottom: 30px;
}
.testimonial-slider.owl-carousel .owl-item img {
	width: auto;
	margin: 0 auto;
}
.testimonial-slider.owl-carousel .owl-nav button {
	height: 44px;
	width: 44px;
	border: 1px solid #ebebeb;
	font-size: 24px;
	color: #123c69;
	background: #ffffff;
	line-height: 48px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	left: -190px;
	top: 50%;
	-webkit-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	transform: translateY(-6px);
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.testimonial-slider.owl-carousel .owl-nav button:hover {
	border-color: #19191a;
	color: #19191a;
}
.testimonial-slider.owl-carousel .owl-nav button.owl-next {
	left: auto;
	right: -190px;
}
.testimonial-slider .ts-item {
	text-align: center;
}
.testimonial-slider .ts-item p {
	font-size: 20px;
	color: #123c69;
	line-height: 30px;
	margin-bottom: 50px;
}
.testimonial-slider .ts-item .ti-author {
	margin-bottom: 60px;
}
.testimonial-slider .ts-item .ti-author .rating {
	display: inline-block;
}
.testimonial-slider .ts-item .ti-author .rating i {
	color: #f5b917;
	font-size: 16px;
}
.testimonial-slider .ts-item .ti-author h5 {
	font-size: 20px;
	color: #123c69;
	display: inline-block;
}
/*---------------------
  Blog and Event
-----------------------*/

.blog-section {
	padding-bottom: 70px;
}
.blog-section .section-title {
	margin-bottom: 36px;
}
/*---------------------
  Footer Section
-----------------------*/

.footer-section {
	background: #123c69;
}
.footer-section .footer-text {
	padding: 80px 0 30px;
}
.footer-section .footer-text .ft-about {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-about .logo {
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .logo a {
	display: inline-block;
}
.footer-section .footer-text .ft-about p {
	color: #aaaab3;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-about .fa-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	color: #ffffff;
	border: 1px solid #5A4D48;
	border-radius: 50%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
	margin-right: 7px;
}
.footer-section .footer-text .ft-about .fa-social a:hover {
	background: #123c69;
	border-color: #123c69;
}
.footer-section .footer-text .ft-contact {
	margin-bottom: 30px;
}
.footer-section .footer-text .ft-contact h6 {
	font-size: 14px;
	color: #edc7b7;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Quicksand", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-contact ul li {
	font-size: 16px;
	color: #aaaab3;
	line-height: 32px;
	list-style: none;
}
.footer-section .footer-text .ft-newsletter h6 {
	font-size: 14px;
	color: #edc7b7;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
	font-family: "Quicksand", sans-serif;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newsletter p {
	color: #aaaab3;
	margin-bottom: 20px;
}
.footer-section .footer-text .ft-newsletter .fn-form {
	position: relative;
}
.footer-section .footer-text .ft-newsletter .fn-form input {
	width: 100%;
	height: 50px;
	border-radius: 2px;
	background: #fff;
	border: none;
	padding-left: 20px;
	font-size: 16px;
	color: #707079;
}
.footer-section .footer-text .ft-newsletter .fn-form button {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 16px;
	background: #123c69;
	color: #ffffff;
	padding: 0 16px;
	height: 50px;
	border: none;
	border-radius: 0 2px 2px 0;
}
.footer-section .copyright-option {
	background: rgba(16, 20, 31, 0.2);
	padding: 20px 0;
}
.footer-section .copyright-option ul li {
	list-style: none;
	display: inline-block;
	margin-right: 34px;
}
.footer-section .copyright-option ul li:last-child {
	margin-right: 0;
}
.footer-section .copyright-option ul li a {
	font-size: 16px;
	color: #aaaab3;
}
.footer-section .copyright-option .co-text {
	font-size: 16px;
	color: #707079;
	text-align: right;
}
/* --------------------------------- Other Pages Styles ----------------------------------- */

/*---------------------
  Breadcrumb Section
-----------------------*/

.breadcrumb-section {
	padding-top: 70px;
	padding-bottom: 80px;
}
.breadcrumb-text {
	text-align: center;
}
.breadcrumb-text h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 12px;
}
.breadcrumb-text .bt-option a {
	display: inline-block;
	font-size: 18px;
	color: #19191a;
	margin-right: 20px;
	position: relative;
	font-weight: 500;
}
.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -13px;
	top: 1px;
	content: "ï„…";
	font-size: 18px;
	font-family: "FontAwesome";
	color: #aaaab3;
}
.breadcrumb-text .bt-option span {
	display: inline-block;
	font-size: 18px;
	color: #aaaab3;
}
/*------------------------
  About Us Page Section
-------------------------*/

.aboutus-page-section {
	padding-top: 0;
	padding-bottom: 70px;
}
.about-page-text {
	margin-bottom: 65px;
}
.about-page-text .ap-title {
	margin-bottom: 30px;
}
.about-page-text .ap-title h2 {
	font-size: 44px;
	color: #19191a;
	margin-bottom: 18px;
}
.about-page-text .ap-title p {
	font-size: 18px;
	color: #707079;
	line-height: 28px;
}
.about-page-text .ap-services li {
	list-style: none;
	font-size: 20px;
	color: #707079;
	line-height: 42px;
}
.about-page-text .ap-services li i {
	color: #123c69;
	margin-right: 5px;
}
.about-page-services .ap-member-item {
	position: relative;
	height: 420px;
	border-radius: 5px;
	margin-bottom: 30px;
}
.about-page-services .ap-member-item .api-text {
	position: absolute;
	left: 0;
	bottom: 40px;
	width: 100%;
	text-align: center;
}
.about-page-services .ap-member-item .api-text h3 {
	color: #ffffff;
}


/*---------------------
  Contact Section
-----------------------*/

.contact-section {
	padding-top: 80px;
	padding-bottom: 80px;
}
.contact-text h2 {
	font-size: 44px;
	color: #edc7b7;
	margin-bottom: 24px;
}
.contact-text p {
	color: #707079;
}
.contact-text table tbody tr td {
	font-size: 16px;
	color: #19191a;
	line-height: 36px;
	font-weight: 500;
}
.contact-text table tbody tr td.c-o {
	color: #707079;
	width: 75px;
}
.contact-form input {
	width: 100%;
	height: 50px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #aaaab3;
	padding-left: 25px;
	margin-bottom: 28px;
}
.contact-form input::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-moz-placeholder {
	color: #aaaab3;
}
.contact-form input:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form input::placeholder {
	color: #aaaab3;
}
.contact-form textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	color: #aaaab3;
	padding-left: 25px;
	padding-top: 12px;
	margin-bottom: 33px;
	resize: none;
}
.contact-form textarea::-webkit-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-moz-placeholder {
	color: #aaaab3;
}
.contact-form textarea:-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::-ms-input-placeholder {
	color: #aaaab3;
}
.contact-form textarea::placeholder {
	color: #aaaab3;
}
.contact-form button {
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	letter-spacing: 2px;
	background: #123c69;
	border: none;
	padding: 14px 34px 13px;
	display: inline-block;
}
